<!DOCTYPE html>
<html lang="en">

<head>
  <title>Imagify</title>
  <link rel="shortcut icon" href="./../views/assets/images/logo.png" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./../views/assets/styles.css">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="./../views/assets/app.js"></script>
</head>

<body class="body-container">
  <div class="container">
    <div class="box">
      <h1>Convert images to Webp using Imagify</h1>
      <form>
        <input id="demo1" class="demo1" type="file" multiple placeholder="Select or Drag the Images" name="files" />
      </form>
      <button id="convert">Click To Convert</button>
    </div>
  </div>
</body>

</html>