<!DOCTYPE html>
<html lang="en">

<head>
  <title>Imagify</title>
  <link rel="shortcut icon" href="./../imagify/views/assets/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
    integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="./../imagify/views/assets/styles.css">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script src="./../imagify/views/assets/app.js"></script>
</head>

<body class="body-container">
  <div class="background">
    <div class="bg"></div>
    <div id="coffee">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 960 560" style="enable-background:new 0 0 960 560;" xml:space="preserve">
        <style type="text/css">
          .st0 {
            fill: #DBDBDB;
          }

          .st1 {
            fill: #29282A;
          }

          .st2 {
            fill: #FFFFFF;
          }

          .st3 {
            fill: #4B392A;
          }

          .st4 {
            fill: #BBDEFB;
          }

          .st5 {
            fill: #0D47A1;
          }

          .st6 {
            fill: #1565C0;
          }

          .st7 {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: #01579B;
          }

          .st8 {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: #90CAF9;
          }

          .st9 {
            fill-rule: evenodd;
            clip-rule: evenodd;
            fill: #D7CCC8;
          }
        </style>
        <g id="teaBag">
          <polygon id="XMLID_17_" class="st0" points="436.1,454.5 466.8,454.5 451.5,360.2 436.1,360.2 	" />
          <polygon id="XMLID_16_" class="st1" points="458.2,401.6 466.8,454.5 436.1,454.5 436.1,401.6 	" />
          <path id="XMLID_23_" class="st2" d="M357.2,454.5h79l15.3-94.3l-15.3-19.9h-48.3l-15.3,19.9L357.2,454.5z M406.2,353.5
      c0-2.6,2.1-4.8,4.8-4.8c2.6,0,4.8,2.1,4.8,4.8c0,2.6-2.1,4.8-4.8,4.8C408.4,358.3,406.2,356.1,406.2,353.5z" />
          <polygon id="XMLID_12_" class="st3" points="444.7,401.6 436.1,454.5 357.2,454.5 365.8,401.6 	" />
          <g id="bar">
            <path id="XMLID_11_" class="st4" d="M353.7,188.3c33,0,59.7,24,59.7,53.7v110h-5.5V242h0c-0.2-26.7-24.4-48.3-54.2-48.3
      c-29.8,0-53.9,21.6-54.2,48.3h0v110H294V242C294,212.3,320.7,188.3,353.7,188.3z" />
            <polygon id="XMLID_10_" class="st5" points="307.5,373.2 314.6,363 314.6,341 307.5,330.8 286.9,330.8 279.8,341 279.8,363 
      286.9,373.2 	" />
            <polygon id="XMLID_9_" class="st6"
              points="297.2,330.8 297.2,373.2 286.9,373.2 279.8,363 279.8,341 286.9,330.8 	" />
          </g>
        </g>
        <g id="Cup">
          <g id="smoke">
            <path id="XMLID_2_" class="st9" d="M469.4,96.2c43.5,18.8,54.9,60.3,29,99C463,248,482.3,251,501.9,306.7
        c-55-57.8-54.6-69.9-16.8-129.5C509.1,139.4,490.3,123.7,469.4,96.2z" />
            <path id="XMLID_1_" class="st9" d="M514,304.7c-24.9-29.3-46.9-84.4-5.6-96.5c34.5-10.1,49.7,41.1,12.8,40.9
        c13.9-11.3,9.5-28.6-6.5-23.3C491.5,233.6,504.1,274.5,514,304.7z" />
          </g>
          <g id="cup">
            <path id="XMLID_15_" class="st7" d="M317.6,307.6c0,0-4.3,62.8,24.6,121.3c29,58.5,44.5,69.6,36.9,96.1c-1.7,6-0.9,10.1,1.4,13
        h93.2h0h93.2c2.3-2.9,3.1-7,1.4-13c-5.4-18.7,0.8-29.7,15-55.1c-7.3-5.2-13.5-11.4-14.3-18.4c5.3,5.9,9.4,10.6,16.7,14.2
        c36.7,27.7,119.1,9.7,136.5-52.2c7-24.9,7.8-59.6-15.4-77.6c-13.8-10.7-33.3-12.3-50.1-11.4c-8.5,0.5-17.7,1.7-26.8,3.4
        c-7.8,2.1-12.8,5.9-19.2,10.6c2.4-7.1,10.5-12.3,19.4-16c0.2-9.4-0.2-15-0.2-15l-156.1,0.8L317.6,307.6L317.6,307.6z M596.9,445.2
        c3.7-6.8-0.6,1.8,8.3-16.3c9-18.1,19.9-55.9,22.7-78.3c27.5-10,73.6-11.1,77.1,23.7c2.5,25.5-4,61.5-38.3,77.7
        C639.9,464.8,612.9,464.1,596.9,445.2z" />
            <path id="XMLID_5_" class="st8" d="M344.8,313.8c-1.6,113.2,76.5,150.5,68.2,207c23.7-48.9,9.6-68.7-1.8-91.9
        c-23.7-47.9-25-89.1-24.9-109.3h217.5c1.6,0,2.9-1.3,2.9-2.9l0,0c0-1.6-1.3-2.9-2.9-2.9H386.3h-24.6H344.8z" />
          </g>

          <g id="tray">
            <path id="XMLID_4_" class="st7"
              d="M353.6,560c84.3,0,168.5,0,252.8,0l126.4-25.3H227.2C269.3,543.1,311.5,551.6,353.6,560z" />
            <path id="XMLID_3_" class="st8" d="M302.3,537.2h357.2c1.3,0,2.3,1,2.3,2.3v0c0,1.3-1,2.3-2.3,2.3H302.3c-1.3,0-2.3-1-2.3-2.3v0
        C300,538.2,301,537.2,302.3,537.2z" />
          </g>

        </g>
      </svg>
      <div id="txt">Don't take a break, it's almost done...</div>
    </div>
  </div>
  <div class="container">
    <div class="box">
      <div class="logo"><img src="./../views/assets/logos/logo-no-background.png" alt="logo"></div>
      <h1>Compress images using Imagify</h1>
      <form>
        <input id="demo1" class="demo1" type="file" multiple placeholder="Select or Drag the Images" name="files" />
      </form>
      <button id="convert">Click To Convert</button>
    </div>
  </div>
</body>

</html>